/*
style="font-size: large; background-color: #5BC60E;
>     			padding: 6px;
>     			height: 20px;
>     			width: 88px;
>     			color: white;
>     			text-align: center;
>     			border-radius: 0px 50px 50px 0px;"*/
/*
style="color: white;  background-color: #5BC60E;
>     			padding: 6px;
>     			height: 20px;
>     			width: 88px;
>     			color: white;
>     			text-align: center;
>     			border-radius: 0px 20px 20px 0px;"*/
/*
.tn{
    color: green;
    background-color: #5BC60E;
    padding: 6px;
    height: 20px;
    width: 88px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;"

}*/
